IDI_ICON1		ICON		DISCARDABLE	"Resources\DownloadMaid.ico"

#include "downloadmaidversion.h"
1 VERSIONINFO
 FILEVERSION DOWNLOADMAIDVERSION_NUMBER
 PRODUCTVERSION DOWNLOADMAIDVERSION_NUMBER
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041604b0"
        BEGIN
            VALUE "CompanyName", "SIB IT"
            VALUE "FileDescription", "DownloadMaid"
            VALUE "FileVersion", DOWNLOADMAIDVERSION_STRING
            VALUE "InternalName", "DownloadMaid"
            VALUE "LegalCopyright", "Copyright (C) 2009 SIT IT"
            VALUE "OriginalFilename", "DownloadMaid.exe"
            VALUE "ProductName", "DownloadMaid"
            VALUE "ProductVersion", DOWNLOADMAIDVERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
